# Entorno Virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]

# Base de datos local
db.sqlite3
db.sqlite3.bak
*.sqlite3

# Variables de entorno y secretos
.env
.env.*

# Archivos subidos por usuarios (excepto avatares predefinidos)
/media/*
!/media/avatares/

# Logs
*.log

# Entornos de desarrollo / IDEs / SO
.vscode/
.idea/
.DS_Store